.flash {
	position: fixed;
	z-index: 1;
	font-size: 2em;
	top: @gap_std;
	right: @gap_huge;
	width: 330px;
	border-radius: 6px;
	border: 5px solid @deep_gray;
	background: @white;
	.boxout(@gap_big, @gap_big, @gap_big, @gap_big);
	&.error {
		color: @red;
	}
	&.success {
		color: @green;
	}
	&.msg {
		color: @orange;
	}
}