form {
	input {
		display:block;
	    left: 180px;
	    width: 240px;
	    padding: 5px;
	    display: block;
	    margin: 12px 0;
	    border: 1px solid @light_gray;

	    &.form-submit {
	    	width: 100px;
	    	background: @light_gray;
	    	margin: 24px 0;
	    }
	}
	select {
		background: transparent;

	   width: 250px;
	   padding: 5px;
	   font-size: 16px;
	   line-height: 1;
	   border: 1px solid @light_gray;
	   border-radius: 0;
	   height: 34px;
	   display: block;
	   margin: 12px 0;
	}
	.err {
		background: @red;
		border: 1px solid @red;
	}

}