header {
    width: 100%;
	h1 {
    	.boxout(@gap_huge, 0, @gap_huge, 0);
    	.boxin(0, 0, @gap_huge, 0);
    	border-bottom: 1px solid @mid_gray;
    	color: @white;
        background-color: @blue;
        @media only screen and (max-device-width: 627px) {
            font-size: 1.75em;
            .boxout(@gap_std, 0, @gap_std, 0);
        }
	}
}