@app_transition_type	: linear;

@black					: #000;
@white					: #fff;
@red					: #CA6262;
@red_dark:				: #B97777;
@green					: #12BE37;
@green_dark				: #64A772;
@orange					: #EC6A02;
@blue					: #629ACA;
@light_gray				: #eee;
@intermid_gray			: #ccc;
@mid_gray				: #aaa;
@deep_gray				: #666;

@gap_sml				: 8px;
@gap_std				: 12px;
@gap_big				: 24px;
@gap_huge				: 32px;
@gap_jump				: 54px;