@app_transition_type	: "linear";

@black					: #000;
@white					: #fff;
@red					: #CA6262;

@light_gray				: #ddd;
@mid_gray				: #aaa;
@deep_gray				: #666;

@gap_sml				: 8px;
@gap_std				: 12px;
@gap_big				: 24px;
@gap_huge				: 32px;